*{
	margin: 0;
	padding: 0;
}
.header{
	background: rgb(44, 44, 44);
}
.container{
	max-width: 1100px;
	margin: 0 auto;
}
.container_header{
	display: flex;
	justify-content: space-between;
	padding: 28px 0 27px;
	align-items: center;
}
.nav__list{
	display: flex;
	list-style: none;
}
.nav__item{
margin-right: 31px;
}
.nav__link{
		color: rgb(228, 228, 228);
font-family: Inter;
font-size: 18px;
font-weight: 400;
line-height: 21.78px;
letter-spacing: 0px;
text-align: left;
}
.hero-block{
	background: rgb(44, 44, 44);
}
.container_hero_block{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 42px 0px 91px;
}
.hero-block__title{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 64px;
font-weight: 400;
line-height: 120.45px;
letter-spacing: 0px;
text-align: left;
}
.hero-block__link{
	background: rgb(204, 150, 10);
	font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 21.78px;
letter-spacing: 0px;
text-align: left;
text-decoration: none;
padding: 14px 23px;
border-radius: 10px;
}
.about{
	background: rgb(62, 62, 62);
}
.container_about{
	padding: 64px 0px 134px;
}
.about__title{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 64px;
font-weight: 400;
line-height: 58.09px;
letter-spacing: 0px;
text-align: center;
}
.about__content{
	display: flex;
	justify-content: space-between;
}
.about__text{
	color: rgb(95, 122, 227);
font-family: Inter;
font-size: 24px;
font-weight: 400;
line-height: 33.89px;
letter-spacing: 0px;
text-align: left;
max-width: 453px;
}
.video{
	background: rgb(44, 44, 44);
}
.container_video{
	padding: 60px 0px 100px;
}
.video__title{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 58.09px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 81px;
}
.video__video{
	width: 100%;
	height: 637px;
	border: 52px solid rgb(65, 65, 65);
	border-radius: 50px;
	box-sizing: border-box;
}
.gallery{
	background: rgb(62, 62, 62);
	padding: 60px 0px 110px;
}
.gallery__title{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 48px;
font-weight: 400;
line-height: 58.09px;
letter-spacing: 0px;
text-align: center;
margin-bottom: 83px;
}
.gallery__list{
	display: flex;
	flex-wrap: wrap;
	list-style: none;
}
.gallery__item{
	box-sizing: border-box;
	width: 50%;
}
.gallery__img{
	width: 100%;
}
.footer{
	background: rgb(44, 44, 44);
}
.container_footer{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 50px 0px 50px;
}
.footer__title{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 30px;
font-weight: 400;
line-height: 36.31px;
letter-spacing: 0px;
text-align: left;
margin-bottom: 18px;
}
.footer__text{
	color: rgb(228, 228, 228);
font-family: Inter;
font-size: 16px;
font-weight: 400;
line-height: 19.36px;
letter-spacing: 0px;
text-align: left;
}
.footer__list{
	display: flex;
	list-style: none;
}
.footer__item{
	margin-right: 32px;
}